body {
    background-image: linear-gradient(to top, #e5b2ca 30%, #3f0677 70%);
    font-family: 'Bebas Neue', sans-serif;
}

.contenedor-about-us {
    display: flex;
    width: 100%;
    margin: 7rem 0 11rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.info {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 500px;
    border: white solid;
    border-radius: 2%;
    margin: 30px;
    background: linear-gradient(#ecaaff, #571f83);
    align-items: center;
}

.info:hover {

    background: linear-gradient(#571f83, #ecaaff);

}


.info-img {
    position: relative;
    box-sizing: border-box;
    width: 100px;
    top: -50px;
    text-align: center;
    display: flex;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000000;
    flex-direction: column;
    align-items: center;
}

.info-texto {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 24px;
    color: black;
    margin-top: -77px;

}


.info img {
    width: 105px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: #fff 3px solid;
}

.info-img h4 {
    width: 200px;
    margin-top: 10px;
    height: 90px;
    font-size: 1.9rem;
}