body {
    background-image: linear-gradient(to top, #e5b2ca 0%, #47028e 100%);
    font-family: 'Bebas Neue', sans-serif;
}


.contenedor-about-us{
    display: flex;
    width: 100%;
    margin: 7rem 0 11rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.info{
    display: flex;
    align-items: center;
    width: 300px;
    flex-direction: column;
    height: 500px;
    background: white;
    border-radius: 2%;
    margin: 30px;
}


.info-img{
    position: relative;
    width: 100px;
    top: -50px;
    text-align: center;
}

.info-texto{
    width: 83%;
    background: #f4c9f9;
    margin: -24px;
    text-align: center;
    border-radius: 20px;
    padding: 14px;
    font-size: 18px;
    line-height: 23px;

}

.info img{
    position: relative;
    width: 100px;
    border-radius: 50%;
}
