* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: url("/Images/Back-Rain-Pixeles.jpg");
    transition: opacity 1s ease;
    background-repeat: no-repeat;
    background-size: cover;
}


/*-------------Variables-------------*/
a {
    --enlaces--: #add;
}

h1 {
    --titulo_principal--: #fff;
    --titulo_catalogo--: #ff4aab;
}

h2 {
    --subtitulo_catalogo--: #5654d3;
}

:hover {
    --hover_enlaces--: #5654d3;
    ;
}

/*-------------------Header--------------------*/

.navbar-responsive {
    display: none;
}

.contenedor-navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-links {
    width: 42%;
    display: flex;
    padding: 0;
    justify-content: center;
}

.contenedor-img {
    width: 16%;

}

.contenedor-img .logo {
    width: 100%;

}

.contenedor-registro {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    width: 42%;
}

.contenedor-links-ul-li,
.contenedor-registro-ul-li {
    list-style: none;
}

.contenedor-links-ul-li-a,
.contenedor-registro-ul-li-a {
    padding: 15px;
    text-decoration: none;
    color: var(--enlaces--);
    font-size: 1.2em;
    transition: background 1s;
}

.contenedor-links-ul-li-a:hover {
    background: var(--hover_enlaces--);
    outline: none;
    border: none
}

.contenedor-registro-ul-li-a:hover {
    background: var(--hover_enlaces--);
    outline: none;
    border: none
}
/*mio*/
.CAMBIO1{ color: #fff; } /* CSS link*/
.CAMBIO1:hover { color: #e5b2ca; } /* CSS link */


:focus{  /*esto hace que las columnas de envio no se vean*/
    outline: none;

}


.form-caja {
    width: 65.75em;
    height: 33.12em;
   
    margin: 3rem auto;
    display: flex;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    
}

.contact_info::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #453a94;
    opacity: 0.9;

}

.contact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(/Images/pistolero1.jpg); 
    background-size: cover;   
    background-position: center center; /*centrar la imagen del pistolero */
}

.info_title, .info_items {
    position: relative;
    z-index: 2;  /*si no ponia esto se veian debajo las palabras*/
    color:#fff;
    font-size: 20px;
    text-align: center;
}

.info_title{
    margin-bottom: 1rem;
    font-size: 20px;
}

.TELEFONO_CONTACTO{
    margin-top: 10px;
    
}
form.form_contact{
    margin: 0;
    width: 62%;
    padding: 60px 50px 10px ;

}

form.form_contact h2{
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    margin-bottom: 30px;
    
    
}
form.form_contact .user_info {
    display: flex;
    flex-direction: column;

}

form.form_contact label{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}

form.form_contact input {
    width: 100%;

    
    border: none;
    border-bottom: 2px solid #d0318b;
    margin-bottom: 20px;
    padding:  8px 0px 5px;

    font-family: 'Press Start 2P', cursive;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}

form.form_contact textarea  {
    height: 3rem;
    padding: 0.8px 1px 5px;
    margin-bottom: 10px;
    
    font-family: 'Press Start 2P', cursive;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
    
    
    border:2px solid #e5b2ca; 
    
}

#formulario button {
    background: #e7ddd8;
    border:1px solid #fd5f00;
    margin-top: 10px;
    border-radius: 2px;
    color: #000000;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
    cursor:pointer;
}
#formulario button:hover {
    background-color: #3d0278;
    color: #ddd;
}





  



/*----------Section-Contenido-general----------------*/

.contenido-general {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /*Me pone la imagen y el texto al lado podria ser una transicion de imagenes*/
}

.contenedor-banner {
    width: 50%;
}

.banner1 {
    width: 100%;
}

.nuevo {
    margin: 30px 0px;
}

.titulo-principal {
    line-height: 1.5;
    text-align: center;
    font-size: 3em;
    color: var(--titulo_principal--);
    font-family: 'Bebas Neue', sans-serif;
}




/*Footer*/

footer {
    margin-top: 30px;
    background-color: #210736;
    overflow: hidden;
}

.contenedor-footer {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

.contenedor-redes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-redes-titulo {
    font-family: 'Press Start 2P', cursive;
    margin-top: 30px;
    color: #ff4aab;
    text-align: center;
}

.contenedor-logos {
    display: flex;
    justify-content: center;
}

.logos {
    margin: 30px 10px;
    width: 50px;
}

hr {
    background-color: #5654d3;
    height: 1px;
    width: 90%;
    border: none;
    margin: 0 auto;
}

.contenedor-derechos {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.contenedor-img-derechos {
    width: 20%;
}

.contenedor-parrafo-derechos {
    width: 80%;
}

.img-footer {
    width: 40%;
    
}

.p-footer {
    font-family: 'Bebas Neue', sans-serif;
    color: #ff4aab;
    margin: 5px;
    font-size: 1em;
}


/*----------Animaciones----------*/


@keyframes flashingTitulo {
    0% {
        color: #5654d3;
    }

    50% {
        color: #5654d3;
    }

    75% {
        color: #ff4aab;
    }

    100% {
        color: #ff4aab;
    }
}

/*Media QUeries*/
/*965 menu hamburguesa
*/
 

@media screen and (max-width: 965px) {
    body {
        margin: 1rem;
    }
    
    .contact_info {

    font-size: 1rem;
    width: 100%;
    position: block;
    height: 10rem;
}

form.form_contact{
    width: auto;
    
}

    .form-caja{
        
        width: 100%;
        height: 39rem;
        margin: 1rem auto;
        display: block;
        background: #fff;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        
    }

    .user_info {
        width: 100%;
    }

    form.form_contact h2{
      
        width: 100%;
        position: relative;
        font-size: 2rem;
        text-align: center center !important;
        margin-bottom: 2rem;
        
    }

    form.form_contact label{
            font-size: 1.2rem;
            margin-bottom: 0.2rem;
            
    }
    
        
    form.form_contact input {
            
            
            font-size: 0.8rem;
            
    }

    .form_contact input{
        padding: 10rem 10rem ;
    }
        
    form.form_contact textarea  {
           
            font-size: 0.8rem;
            
            padding: 0.8px 10px 5px;
            margin-bottom: 10px;
            
            
            font-weight: 400;
            
            
            border:2px solid #e5b2ca; 
            
    }    
    .container-footer {
        
        background:transparent ;
        
        
    }

    .redes-footer{
        background: #fff;
    }

    .container-footer h4 {
        
        color: #fff;
        font-size: 0.8rem;
        
    }

    .contenedor-navBar {
        display: none;
    }

    .navbar-responsive {
        display: flex;
        align-items: center;
        z-index: 10;
    }

    .menu-responsive {
        width: 2rem;
        margin-top: 1.2rem;
        margin-left: 0.8rem;
        top: 3px;

    }

    .foto-menu {
        width: 100%;
        cursor: pointer;

    }

    .titulo-principal {
        font-size: 2em;
    }

    .titulo-catalogo {
        font-size: 1.8em;
    }

    .subtitulo-contenedores {
        text-align: center;
        margin: 100px auto;
        font-size: 1.7em;
    }

    .contenedor-img-responsive {
        width: 200px;
        margin: auto;
    }

    .contenedor-img-responsive .logo {
        width: 100%;
    }

    .lateral-menu {
        position: absolute;
        background-color: #777;
        height: 500px;
        left: -200px;
        transition: left 2s ease;
        z-index: 10;
    }

    .lateral-menu:hover {
        opacity: 1;
    }

    .contenedor-links {
        flex-direction: column;
        height: fit-content;
        width: 150px;
    }

    .contenedor-links-ul-li-a {
        display: block;
    }

    .p-footer {
        font-size: 0.8em;
        overflow: hidden;
    }

    .contenido-general {
        margin: 50px;
    }

    

    .contenedor-compra {
        width: 300px;
    }

    

    .contenedor-img-derechos {
        width: 30%;
    }

    .contenedor-parrafo-derechos {
        width: 70%;
    }
}
