body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #210736;
}

.contenedor-navBar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contenedor-links-ul-li-a,.contenedor-registro-ul-li-a{
    text-decoration: none;
    background: #210736;
    color: #fff;
    transition: background 1s;
}

.contenedor-links-ul-li-a:hover{
    background: #0f9;
    outline: none;
    border: none
    
}

.contenedor-registro-ul-li-a:hover{
    background: #72178a;
    outline: none;
    border: none
}

.contenedor-links{
    display: flex;
    flex-grow: 1;
    justify-content: left;
}

.logo{
 width: 280px;
}

.contenedor-links-ul-li{
    list-style: none;
}

.contenedor-links-ul-li-a{
    list-style: none;
    padding: 15px;
    background-color: #210736;
}

.contenedor-registro{
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.contenedor-registro-ul-li{
    list-style: none;
}

.contenedor-registro-ul-li-a{
    list-style: none;
    padding: 15px;
}

.contenido-general{
    text-align: center;
    margin: 100px;
}
.titulo-principal{
text-align: center;
font-size: 2rem;
color: #72178a;
font-family: 'Bebas Neue', sans-serif;

}

.titulo-catalogo{
    font-family: 'Press Start 2P', cursive;
    color:aqua;
}

